<!-- Footer -->
<footer class="kyu-footer sticky-footer bg-cm">
    <div class="my-auto cm-bg-se">
        <div class="copyright d-flex my-auto justify-content-between"
            style="font-size: 13px !important; margin-left: 15px; margin-right: 15px;">
            <div>
                <span class="cm-text-muted">&copy;2021 - Conçu & Propulsé par
                    <a href="http://dsi-cs.com" class="cm-text-muted-2" target="_blank">DSI Conseil & Services
                    </a>
                </span>
            </div>
            <div>
                <span class="text-primary cm-text-muted-2">
                    v1.1.0
                </span>
            </div>
            <div>
                <span class="cm-text-muted">Contactez-nous sur
                    <a href="mailto:contact@dsi-cs.com?Subject=contact" class="cm-text-muted-2"
                        target="_top">contact@dsi-cs.com
                    </a>
                </span>
            </div>
            <div>
                <i class="pi si pi-angle-double-up addpadd cm-text-muted-2" pTooltip="Remonter vers le haut de la page"
                    tooltipPosition="top" ></i>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->