<p-toast position="top-right"></p-toast>
<div class="container-fluid page">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h4>Working Hours</h4>
        </ng-template>
    
        <ng-template pTemplate="right">
    
        </ng-template>
    </p-toolbar>
    
      <div class="card" style="margin-top: 10px;">
            <div class="row widgets">


                <div class="col-lg-5 control-section" style="margin-bottom: 25px; width: 500px;">
                    <div class="content-wrapper" style="margin-bottom: 25px;">
                        <div class="formtitle">
                            <span>Add Time Details</span>
                        </div>

                        <form id="formId" [formGroup]="reactForm" #formDir="ngForm" class="form-horizontal"
                            novalidate="">

                            <div class="form-group">
                                <div class="e-float-input">
                            
                                    <span class="e-float-line"></span>
                                    <label for="user" class="e-float-text">{{authService.employee.firstName}} {{authService.employee.lastName}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="e-float-input">
                                    <span class="e-float-line"></span>
                                    <label for="date_check" class="e-float-text">{{timesheet.date| date: 'M/d/yy, h:mm a'}}</label>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:20px;">
                                <div class="e-float-input">
                                    <input id="hours" formControlName="hours"  type="number" min="0" max="10" name="number" step="1" value="4" [(ngModel)]="timesheet.workingHours">
                                    <span class="e-float-line"></span>
                                    <label class="e-float-text" for="address">Hours</label>
                                </div>
                            </div>


                            <div class="row justify-content-md-center">
                                <button id="validateSubmit" class="samplebtn e-control e-btn " type="submit"
                                    style="height:40px;width: 150px; color: #4a9ad7;border: #868789;" (click)="addTimeSheet()">Add TimeSheet</button>
                            </div>

                        </form>
                    </div>
                </div>





                <div class="col-lg-7">

                    <div class="card small">
                        <p-table [value]="timesheets" [paginator]="true" [rows]="10"
                        [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [rowsPerPageOptions]="[10,25,50]"
                         styleClass="p-datatable-sm" responsiveLayout="scroll"
                            aria-readonly="true" class="text-center"
                            >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center">Code</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Hours</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-ts>
                                <tr>
                                    <td class="text-center">{{ts.id}}</td>
                                    <td class="text-center">{{ts.employeeDev.firstName}} {{ts.employeeDev.lastName}}</td>
                                    <td class="text-center" >{{ts.date | date: 'd/MM/yy, h:mm a'}}</td>
                                    <td class="text-center">{{ts.workingHours}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>



            </div>
        </div>
    </div>