

* {
    font-family: "Montserrat", sans-serif;

}

html,
body {
    height: 100%;
}

body {
    padding: 2em;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  }

  .fc{
    font-size:.85em;
  }
  .fc .event{
    background-color: #d85537;
  }

  div .card{
    margin-bottom: 40px;
  }

 

  



  